<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dmap interface</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="light-theme">
<h1>dmap test</h1>

<p>On Goerli try 'weth' at freezone '0xa5Cc84e99AF5be27d0e73C333a2a91A65EfDF98b' to get unpacked CID</p>

<label for="name">dmap name:</label>
<input type="text" id="name" name="name"><br><br>
<label for="zoneAddress">zone address:</label>
<input type="text" id="zoneAddress" name="zoneAddress"><br><br>
<p id="value">dmap value...</p>

<p>On Goerli try dmap '0x2ec54Aa454BbFE0FE93A6DD772cDE882851B40FD' slot '0x0' to get root address </p>

<label for="slotAddr">slot addr:</label>
<input type="text" id="slotAddr" name="slotAddr"><br><br>
<label for="slotNum">slot number (hex):</label>
<input type="text" id="slotNum" name="slotNum"><br><br>
<p id="slotVal">slot value...</p>

<input type="button" id="update" value="Update">

<script src="app.js"></script>
<noscript>You need to enable JavaScript to use dmap.</noscript>
</body>
</html>
